<%- include("partials/header") -%>

<div class="row row-cols-1 row-cols-md-4 row-cols-sm-3 g-4" style="margin: 0 10px 0 20px;">
  <h5><%    stores.forEach(function(storeDetails){ %> </h5>
    <div class="col">
      <div class="card card shadow">
        <div class="card-body">
          <h5 class="card-title"><%= storeDetails.nameOfstore %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= storeDetails.typeOfstore %></h6>
          <p class="card-text"><%= storeDetails.description %></p>
          <a href="/stores/<%=storeDetails.nameOfstore%>" class="btn btn-primary" style="float: right;">Visit</a>
          
        </div>
      </div>
    </div>
    <%    }); %>
  </div>

 


<%- include("partials/footer") -%>