<%- include("partials/header3") -%>

<h3 style="text-align: center;">Wellcome to our <%= users.storename %> store </h3>
<h4 style="text-align: center;"><%=customer.username%></h4>
 
  
  <div class="container-sm card shadow" >
    <div class="row" style="background-color: deepskyblue;">
      <div class="col mb-10">
        
        <p><%=users.name %></p>
      </div>
      <div class="col" style="text-align: right;">
        <%= users.phone %>
        <p><%= users.username %></p>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-sm-2 g-4 mt-2 mb-4" >

      <div class="col">
        
        <form action="/stores/<%=users.storename%>" method="post">
        <div class="accordion accordion-flush card shadow" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                category1
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body ">
                
                <ol class="list-group list-group-numbered ">
                  <%      newListItems.forEach(function(item){  %>
                    
                <li class="list-group-item searchitems">  
                   <%= item.name %>
                  <button  class="btn btn-outline-secondary btn-sm"  disabled>Rs: <%= item.price %></button>
                  <button type="submit" class="btn btn-outline-success btn-sm" value=" <%= item.name%>" name="itemname" style="float:right;">Add</button>
                  <input class="form-check-input me-1" type="checkbox"  value="<%= item.price%>" style="float:right;" name="price">
                </li>
  
                <% }) %> 
              </ol> 
            
            </div>
            </div>
          </div>
        </div>
      </form>
      </div>
      
      <div class="col">
        <h4 style="text-align: center;">Your collections</h4>
        <div  class="container card shadow mt-4" >
          
        <table class="table table-hover table-borderless">
          <thead>
            <tr>
              <th scope="col">Items</th>
              <th scope="col">Qty</th>
              <th scope="col">Price</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          
          <tbody>
            
            <%   orders.forEach(function(order){  %>  
            <tr>
              <form action="/orderdelete" method="post">
              <td><button class="btn btn-outline-dark btn-sm" name="itemname" value="<%=order.name%>" style="border: none;"><%=order.name%></button></td>
              <td>1</td> 
              <td> <button class="btn btn-outline-dark btn-sm" name="itemprice" value="<%=order.price * 1 %>" style="border: none;"><%=order.price * 1 %></button></td> 
              <td><button type="submit" class="btn btn-outline-danger btn-sm" name="remove" value="<%=order._id%>">Remove</button> </td> 
              <input type="hidden" name="stname" value="<%= users.storename %>"></input>
            </form>
            </tr>
          
            <% }) %> 
          </tbody>
        </table>
        <form action="/stores/<%= users.storename %>/next" method="post">
          <input type="hidden" name="username" value="<%=customer.username%>">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 mb-4" style="text-align: center; float: right;">
          <%   orders.forEach(function(order){  %> 
            
            <input type="hidden" name="itemname" value="<%=order.name%>">
            <input type="hidden" name="itemprice" value="<%=order.price%>">

          <% }) %> 
          <a href=""> <button type="submit" class="btn btn-primary" onclick="myFunction()">Next</button></a>
        </div>
      </form>
      </div>
    </div>
    </div>
    </div>

  

<%- include("partials/footer3") -%>